// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header h1{
  font-size: 20px;
  background-color: darkgray;
  width: 100%;
}

.leftmenu{
  background-color: gray;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.main{
  background-color: red;
  min-width: 100%;
  min-height: 100%;
}

.article-container{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
