// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header h1{
  font-size: 20px;
  background-color: darkgray;
  width: 100%;
}

.leftmenu{
  background-color: gray;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.main{
  background-color: red;
  min-width: 100%;
  min-height: 100%;
}

.article-container{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.error{
  border: 1px solid red;
}

.comment{
  margin-top: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.75);
}

.comment-content{
  border-right: 1px solid lightgray;
}

.article-content{
  border-bottom: 1px solid lightgray;
}

.article-img{
  width: 200px;
}
